* {
  font-family: cursive;
  color: var(--dark-color);
}

body {
  margin: 0;
  overflow-x: hidden;
  --dark-color: rgb(100, 100, 100);
  --light-color: rgb(200, 200, 200);
  --prim-color: #5065a8;
  scroll-behavior: smooth;
}

.btn {
  cursor: pointer;
  font-size: 12px;
  font-family: monospace;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  outline: none;
}

.btn-filled {
  background-color: var(--prim-color);
  color: white;
}

.btn-outlined {
  border: 1px solid var(--prim-color);
  background-color: white;
  color: var(--prim-color);
}

.btn-icon {
  font-size: 16px;
  padding: 8px 16px;
}

input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  width: 90%;
  outline: none;
  padding: 10px 20px;
  margin-bottom: 12px;
  border: 1px solid var(--light-color);
}

.radio-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 16px 0px 32px 0px;
  justify-content: space-evenly;
}

.radio {
  display: flex;
  font-size: 12px;
}

label {
  margin-left: 10px;
  font-size: 12px;
}

.tab {
  margin-right: 48px;
  font-size: 13px;
  cursor: pointer;
  color: var(--dark-color);
  text-decoration: none;
}

.active-tab {
  text-decoration: underline;
  font-weight: bold;
}

.order-ordered {
  background-color: orange;
  color: white;
}

.order-seen {
  background-color: brown;
  color: white;
}

.order-accepted {
  background-color: green;
  color: white;
}

.order-completed {
  background-color: var(--prim-color);
  color: white;
}

.order-rejected {
  background-color: red;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}
