@import url("./common.css");

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub-container-1 {
  padding: 5%;
  display: flex;
  align-items: center;
}

.sub-container-2 {
  width: 40%;
  align-self: center;
}

.sub-container-21 {
  display: flex;
}

.create-btn {
  margin: 16px 0px;
}

.back-btn {
  font-size: 16px;
}
