* {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  --dark-color: rgb(100, 100, 100);
  --light-color: rgb(200, 200, 200);
  --prim-color: #5065a8;
}

.btn {
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}
